<strong>Hi, {{ provider }}</strong>
<p>There was an appointment cancellation.</p>
<p>Please find out the details bellow:</p>
<p>
  <strong>Client: </strong>{{ user }}<br />
  <strong>Date/time: </strong>{{ date }}<br /><br />
  <small>This time is available for new appointments.</small>

</p>
